[submodule "overcooked_ai"]
	path = overcooked_ai
	url = https://github.com/Uwonsang/overcooked_ai.git
	branch = human_aware_rl
[submodule "tfjs-converter"]
	path = tfjs-converter
	url = https://github.com/tensorflow/tfjs-converter.git
