#this file provides an alternative to set up via install.sh
#mainly used to speed up github workflow by taking advantage of pip cache action 
GitPython
memory_profiler
sacred
pymongo
dill
matplotlib
requests
numpy
seaborn==0.9.0
pygame==1.9.5
ray==2.0.0
protobuf
tensorflow==2.10
-e ./overcooked_ai
-e . 