*
!.gitignore
!clean_human_AI_trials.pkl
!humanai_performance.pickle
!human_ai_exp_data_with_advers.csv
!trials_hh.csv
!hh_performance.pickle
!clean_main_trials.pkl
!clean_train_trials.pkl
!clean_test_trials.pkl
!HAI_questiondata.csv